/* .btn-download {
    padding: 15px 15px;
    border-radius: 4px;
    background-color: #fb6d3a;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s ease 0ms;
}

.btn-download:hover {
    background-color: #f8c3b0;

} */


.btn {
    width: 200px;
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid #fb6d3a;
    border-radius: 0.6em;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    margin: 20px 0 0 0;
    
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.5s ease 0ms;
   
}

.btn:hover,
.btn:focus {
    
    outline: 0;
    background-color: #f8c3b0;
}

.btn-download {
    border-color: fb6d3a;
    box-shadow: 0 0 40px 40px #fb6d3a inset, 0 0 0 0 #fb6d3a;
    transition: all 150ms ease-in-out;
}

.btn-download:hover {
    box-shadow: 0 0 10px 0 #fb6d3a inset, 0 0 10px 4px #fb6d3a;
    }

.link-download{
    padding: 1.2em 2.8em;
    text-decoration: none;
    color: #fff;
}
